.logo a{
    color: green;
    /* margin-top: 20px; */
    display: flex;
}

.nav-item{
    margin-left: 20px;
    margin-bottom: -10px;
}

.img{
    height: 500px;
    background-size: contain;

}

.wr{
    margin-bottom: 90px;
}

.col i {
    float: left;
    font-size: 50px;
    margin-top: 30px;
    color: #5cb874;
    
}

.p{
    float: left;
    text-align: left;
    margin-top: 30px;
}

.p b{
    font-size: 20px;
}

.ab{
    font-size: 40px;
    margin-top: 40px;

}

.abimg img{
    float: left;
    width:650px;
    height: 500px;
}

.col1{
    text-align: left;
    margin-bottom: 0px ;
    margin-top: 50px;
}

.col h4{
    font-size: 30px;
    color: #5cb874;
}

.col2{
    border-top: none;
}
.ser{
    margin-bottom: 40px;
}

.cards{
    margin: 20px;
}

.card1 i{
    font-size:30px;
    border-radius: 75% 100% 60% 80%;
    background-color: rgb(210, 219, 227);
    padding: 20px;

}

.card1{
    margin: 90px;
}

.card2{
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col1 i:hover{
   background-color: rgb(51, 152, 248); 
   color: white;
}
.col2 i:hover{
   background-color: orange; 
   color: white;
}
.col3 i:hover{
   background-color: maroon; 
   color: white;
}
.col4 i:hover{
   background-color: rgb(89, 89, 4); 
   color: white;
}
.col5 i:hover{
   background-color: rgb(210, 107, 29); 
  
   color: white;
}
.col6 i:hover{
   background-color: rgb(11, 166, 174); 
   color: white;
}

.call_to_action_main {

    background: #5cb874;
    color: white;
    padding-bottom: 5vh;

}

.cta_hed {

    margin-left: 5vw;

}

.cta_detail {

    margin-left: 5vw;

}

.cta_btn {

    color: white;
    background: none;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 8px;
    border: 2px solid white;


}

.cta_btn:hover {

    background: white;
    color: #5cb874;

}

.bu{
    margin: 10px;
}

.bu button:hover{
    background-color: #5cb874;
    color: white;
}


.cr1 i{
    font-size: 20px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.404);
        
    
}
.cr2 i{
    font-size: 20px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.404);
    
}
.cr3 i{
    font-size: 20px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.404);
    
}

.lo1{
    margin-left: 110px;
 
}

.cr1 img{
    width: 250px;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 50%;
    
}
.cr2 img{
    width: 250px;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 50%;
    
}
.cr3 img{
    width: 250px;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 50%;

    
}

.team{
    background-color: #f8fcf9;
    margin-bottom: 60px;
    margin-top: 60px;
    
}

.col-3{
    height: 600px;
    width: 40%;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 4px solid #5cb874;
    border-bottom: 4px solid #5cb874;

}
.col-6{
    height: 600px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 4px solid #5cb874;
    border-bottom: 4px solid #5cb874;

}

.info{
    width: 100%;
    margin: 30px;
}
.info1{
    text-align: left;
}

.info1 i{
    width: 10%;
    font-size: 20px;
    border: 2px solid #5cb874;
    color: #5cb874;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
}

.info1 h4{
    width: 90%;
    margin-left: 20px;
    display: inline;
}
.info1 p{
    width: 90%;
    margin-left: 70px;
    margin-top: -10px;

}


.form{
    margin-top: 20px;
}

.form button{
    padding: 10px;
    width: 150px;
    background-color: #5cb874;
    border: none;
    border-radius: 5%;
    margin-top: 20px;

}

.form button:hover{
    color: white;
}


.foot{
    background-color: black !important;
    color: white;
    height: 180px !important;
   padding: 30px;
}

.foot i {
    color: white;
}

.foot1{
    background-color: black;
    color: white;
}

.foot1 text{
    color: white;
    text-decoration: none;

}



img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
            min-height: 100vh;
        }
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.blog img{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.blog-head {
  margin-bottom: 70px;
}

.blog-head h6{
  color: #f05907;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}

.blog-head h6:after, .blog-head h6:before{
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background: #f05907;
  top: 50%;
}

.blog-head h6:after{
  right: 120%;
}

.blog-head h6:before{
  left: 120%;
}


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(152, 148, 146, 0.582);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.item {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;
}

.top-overlay {
    bottom: 100%;    
    height: 0;
}
.item:hover .top-overlay {
  bottom: 0;
}
.bottom-overlay {
    top: 100%;
}

.item:hover .bottom-overlay {
  top: 0;
}

.right-overlay {
    left: 100%;
    height: 100%;
}

.item:hover .right-overlay {
  left : 0;
}

.left-overlay {
    right: 100%;
    height: 100%;
    left:auto;
}

.item:hover .left-overlay {
  right : 0;
}
.fade-overlay {
    height: 100%;
    opacity: 0;
}

.item:hover .fade-overlay {
  opacity: 1;
}
.title-overlay {
    height: auto;
    top: auto;
    opacity: 0;
}
.item:hover .title-overlay {
    opacity: 1;
    height: auto;
    padding: 50px 0;
}
.text {
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.im{
    width: 100%;
    justify-content: space-between;
    display: inline-block;
    display: flex;
    

}

/* .imgbox1 h3{
    float: left;
    text-align: left;  
    color: black; 
    margin-top: 290px;
    margin-right: 280px;
}
.imgbox1 h6{
    margin-right: 280px;
    color: black; 
}
.imgbox1 i{
    margin-right: 280px;
    color: black; 
} */

